# Temporary Office files
~$*
*.tmp

# OS files
Thumbs.db
.DS_Store

# IDE
.vscode/
.idea/
*.swp
*.swo

# Sessions folder
sessions/

# Saved exports folder
saved_exports/

#Agentic scripts folder
/Code/AI_scripts/
payload.json
